<iframe
    src="https://www.youtube.com/embed/algORaVJQjI?si=3BTFUTI0uqNZZF11&autoplay=1&mute=1&enablejsapi=1&loop=1&playlist=algORaVJQjI"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe>
<fa-icon [icon]="icon" size="1x"></fa-icon>

<!-- src="https://www.youtube.com/embed/1RDpDRKPmRs?si=8lOprOKI6xbYdVGg&autoplay=1&mute=1&enablejsapi=1&loop=1&playlist=1RDpDRKPmRs" -->