:host {
    display: flex;
    align-items: center;
    justify-content: center;
}


// Desktop
@media (min-width:1281px) {
    iframe {
        width: 100%;
        aspect-ratio: 16/9;
    }
}

// Mobile on the side
@media (orientation: landscape) and (max-width: 1281px) {
    iframe {
        width: 90vw;
        height: 90vh;
    }
}