:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

// Desktop
@media (min-width:1281px) {
  :host {
    max-height: 70vh;
  }
  iframe {
    max-height: 70vh;
}
}

// Mobile on the side
@media (orientation: landscape) and (max-width: 1281px) {
    iframe {
        max-height: 60vh;
    }
}