:host {
    display: flex;
    justify-content: center;
    background-color: var(--dark-color);
    align-items: center;
}

.container {
    display: flex;
    gap: 30vw;
    width: 100vw;
    height: 15vh;
    flex-direction: row;
}

.logo-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.logo-container svg {
    fill: var(--light-color);
    width: 128px;
    height: 15vh;
}

app-navbar {
    flex: 4;
}