<nav>
    <ul>
        <li *ngFor="let e of titles" (click)="scrollToSection(e.id)">
            <h4>{{e.name}}</h4>
        </li>
    </ul>
</nav>
<div>
    <button (click)="handlerOpenMenu()" mat-button [matMenuTriggerFor]="menu">
        <fa-icon [icon]="icon" size="3x"></fa-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
        <div *ngFor="let e of titles" (click)="scrollToSection(e.id)">
            <h5>{{e.name}}</h5>
        </div>
    </mat-menu>
</div>
<app-logo></app-logo>