:host {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}

nav {
    display: none;
}

app-logo {
    display: block;
    padding: 1rem 0 0 0;
    height: 100px;
    width: 100px;
}

h5 {
    padding: 0 1rem;
}

ul {
    list-style-type: none;
}

// Desktop
@media (min-width:1281px) {
    :host {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        display: block;
    }

    div {
        display: none;
    }

    h4 {
        cursor: pointer;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


        gap: 2rem;
    }

    app-logo {
        padding: 2rem 0;

        float: left;

    }
}