:host {
    margin-top: 5rem;
}

app-image {
    object-fit: cover;
    object-position: center;
}

div {
    box-sizing: border-box;
    width: 100%;

    margin-bottom: 1rem;
}

// Mobile
@media (max-width: 1281px) {
    :host {
        padding: 0;
    }

    div {
        gap: var(--ps-mobile);
        padding: 0 var(--ps-mobile);
        height: 75vh;
    }
}



// Desktop
@media (min-width:1281px) {
    div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--p1);

    }

    app-image {
        aspect-ratio: 1;
        transition: scale .2s;
    }

    app-image:hover {
        scale: 1.03;
    }

    app-gallery-dots {
        display: none;
    }
}

// Mobile on the side
@media (orientation: landscape) and (max-width: 1281px) {
    app-image {
        height: 80vh;
    }

    div {
        padding: 0 var(--ps-landscape);
        height: 75vh;
        gap: var(--ps-landscape);
    }
}