:host {
    margin-top: 5rem;
}

img {
    object-fit: cover;
    object-position: center;
}

div {
    box-sizing: border-box;
    height: 60vh;
    width: 100%;

    gap: 1rem;
    margin-bottom: 1rem;
}

@media (orientation: landscape) {
    div {
        gap: 10rem;
    }
}

// Desktop
@media (min-width:1281px) {
    :host {
        padding: 0 var(--padding-sides-desktop);
    }
}

// Mobile on the side
@media (orientation: landscape) and (max-width: 1281px) {
    img {
        height: 80vh;
    }

    div {
        height: 80vh;
        width: 80%;
    }
}