:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    fill: var(--text)
}


// Desktop
@media (min-width:1281px) {
    :host {
        padding-right: 2rem;
    }
}

// Mobile
@media (max-width: 1281px) {
    :host {
        padding: 4rem 2rem;
    }
}