:host {
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background: var(--background-light);
}

div {
    padding: 0 .8rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}