.full-width {
    height: 100%;
    width: 100%;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--p1);
}

.small-width {
    border: solid 2px var(--primary);
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    border-radius: var(--border-radius);
    background: var(--background-light);

    overflow: hidden;
}

.text-con {
    height: 50%;
    padding: 0 .8rem;
}

app-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

// Desktop
@media (min-width:1281px),
(orientation: landscape) {
    .text-con {
        flex: 10;
        max-width: 70%;
    }

    app-jane,
    app-image {
        flex: 1;
    }

}


// Desktop
@media (min-width:1281px) {
    .full-width {
        width: 80%;
    }

    .text-con {
        direction: rtl;
        padding: 0 var(--p2);
        padding-bottom: var(--p1)
    }

    .small-width {
        display: flex;
        flex-direction: row;
    }

}

@media (orientation: landscape) {
    .full-width {
        padding: 0 var(--p2)
    }

    .small-width {
        display: flex;
        flex-direction: row;
    }

    .text-con {
        height: 100%;
        width: 100%;
    }
}