:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300vh;
    background-color: rgb(242, 250, 183);
    padding-bottom: 100vh;
}

#rm-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50vw;
    background-color: rgb(170, 233, 156);
}

.rm-card-con {
    position: sticky;
}

.rm-card-con:nth-child(1) {
    top: 50px;
}

.rm-card-con:nth-child(2) {
    top: 70px;
}

.rm-card-con:nth-child(3) {
    top: 90px;
}

.rm-card-con:nth-child(4) {
    top: 110px;
}

// TODO
#empty {
    height: 100px;
    width: 100%;
    background-color: rgb(170, 233, 156);
}