:host {
    display: block;
    overflow: scroll;
    height: inherit;
    scroll-snap-type: y mandatory;
}

:host>* {
    height: inherit;
    scroll-snap-align: start;
    position: relative;
    background-color: var(--dark-bg);

    display: flex;
    justify-content: center;
    align-items: center;
    // TODO make sure this ok
}

// section {
//     height: 100vh;
//     height: 100svh;
//     scroll-snap-align: start;
//     position: relative;
//     border: solid blue 5px;
//     background: lightcoral;
// }