:host {
    padding: 0 var(--p1);
}

#con {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--p1);
}

app-image {
    width: 200px;
    height: 200px;
    clip-path: inset(1% round 50%);
    shape-outside: inset(1% round 50%);
    object-fit: cover;
    object-position: center;
}


// Desktop
@media (min-width:1281px) {
    :host {
        padding: 0 var(--padding-sides-desktop);
    }

    #con {
        direction: var(--opposite-direction);
        display: flex;
        flex-direction: row;
        gap: 10rem;
    }

    #text-con {
        direction: var(--main-direction);
        max-width: 600px;
    }

    app-image {
        float: left;
    }


}