#con {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--p1);
}

app-image {
    width: 300px;
    height: 300px;
    border-radius: var(--border-radius);
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

#img-con {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Desktop
@media (min-width:1281px) {
    #con {
        display: flex;
        flex-direction: row;
    }

    #text-con {
        max-width: 600px;
    }

}