:host {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#activity-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}

#act-imgs-container {
    flex: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.act-img-container {
    position: absolute;
    transition: all 1500ms ease-out 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.act-hidden {
    transition: all 1000ms ease-in-out;
    transform: translateX(-150%);
}

#act-img {
    position: absolute;
    height: 100%;
}

#cards-container {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 90%;
}

.act-btn {
    position: absolute;
    z-index: 100;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
}


// todo
// svg {
//     width: 100%;
//     height: 100%;
//     position: absolute;

//     line {
//         stroke: #000000;
//         stroke-width: 1;
//     }
// }

.card-container {
    transition: transform 500ms ease-in-out, opacity 200ms linear, visibility 200ms linear, top 700ms ease-in-out, left 700ms ease-in-out, z-index 700ms ease-in-out;
    position: absolute;
    height: 70%;
    width: 50%;
    transform: scale(1);
}

.card-container:hover {
    transition: transform 500ms ease-in-out 700ms, opacity 200ms linear, visibility 200ms linear, top 700ms ease-in-out, left 700ms ease-in-out, z-index 700ms ease-in-out;

    transform: scale(1.025);
}