#header-con-id {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
    height: 150px;
    flex-direction: row;

    // animation
    transition-duration: 1500ms;
}

#header-left-con {
    flex: 1;
}

#logo-con {
    margin-left: 10vw;
    width: 150px;
}

app-navbar {
    flex: 1;
}