:host {
    display: block;
    height: 100vh;
    height: 100svh;
    width: 100%;
    background: var(--dark-bg);
    transition: height 1s ease-in-out
}

app-logo {
    height: 280px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

:host.active {
    height: 8vh;
    height: 8svh;
}

// app-logo.active {
//     height: 40px;
//     aspect-ratio: 1/1;
//     position: absolute;
//     top: 0;
//     left: 0;
//     // transform: translate(-50%, -50%);
// }