@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;700&display=swap');


:root {
    --text: hsl(246, 76%, 95%);
    --background: hsl(240, 60%, 1%);
    --background-mid: #0f0f0f;
    --background-light: #1E1E1E;
    --primary: hsl(310, 27%, 74%);
    --secondary: hsl(11, 23%, 32%);
    --accent: hsl(48, 23%, 58%);

    --backdrop-color: var(--background-light);

    // border
    --border-radius: 20px;
    --mat-menu-item-label-text-size: 2.4rem;

    // padding
    --p1: 1rem;
    --p2: 2rem;
    --ps-desktop: 10rem;
    --ps-mobile: 2rem;
    --ps-landscape: 3em;

    // mat-menu 
    --mat-menu-container-shape: 20px;
    --mat-menu-item-label-text-line-height: 0;
    --mat-menu-item-label-text-size: 1.2rem;
    --mat-menu-item-label-text-font: 'Cormorant+Garamond', 'Heebo', 'IBM+Plex+Sans+Arabic', sans-serif;
    --mat-menu-item-label-text-weight: 400;
    --mat-menu-container-color: var(--background-mid);
}

a {
    color: #1E90FF;
}

.main-direction {
    direction: var(--main-direction);
}

.opposite-direction {
    direction: var(--opposite-direction);
}

.right {
    direction: rtl;
}

.left {
    direction: ltr;
}

// dialog image
.cdk-overlay-container {
    background: var(--backdrop-color);
}

.cdk-overlay-pane {
    margin-top: 1rem;
}

.mat-mdc-menu-panel {
    direction: var(--main-direction);
    min-width: 0 !important;
    border: solid 1px var(--primary);
}

html,
body {
    list-style-type: none; // ul
    font-family: 'Cormorant+Garamond', 'Heebo', 'IBM+Plex+Sans+Arabic', sans-serif;
    background: var(--background);
    margin: 0;
    padding: 0;
    width: 100%;
}

h1,
h2,
h3,
h4,
p {
    color: var(--text);
}


app-root>* {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    margin-bottom: 3rem;
}

// Desktop
@media (min-width:1281px) {
    app-root>* {
        margin-bottom: 10rem;
        padding: 0 var(--ps-desktop);
    }
}

// Mobile
@media (max-width: 1281px) {
    app-root>* {
        padding: 0 var(--ps-mobile);
    }
}



// Mobile on the Side
@media (orientation: landscape) and (max-width: 1281px) {
    app-root>* {
        padding: 0 var(--ps-landscape);
    }
}

.credit {
    font-size: .75rem;
}

.fa-spin {
    animation: fa-spin 6s infinite linear !important;
}

fa-icon {
    color: var(--primary);
}

// Scroll
.scroll {
    display: flex;
    flex-direction: row;

    overflow-x: scroll;
    overflow-y: hidden;

    height: auto;
    width: 100%;
}

.scroll-child {
    width: 100%;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.no-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
}

.pointer {
    cursor: pointer;
}

.ps1 {
    padding: 0 var(--p1);
}

.m2 {
    margin: 2rem;
}