@import url('https://fonts.googleapis.com/css2?family=Koulen:wght@400;700&display=swap');

:root {
    // font colors
    --font-color-dark: #525252;
    --font-color-bright: #ffffff;

    // background colors
    --main-color: #FFF8E7;
    --light-color: #ffffff;
    --dark-color: #000000;
    --yellow-color: #f6d4b1;

    // light colors
    --light-pink-color: #F9B1B1;
    --light-blue-color: #B7BAFF;
    --light-green-color: #C7E4BC;
    --light-orange-color: #FEBC6D;

    // dark colors
    --dark-blue-color: #2a44ab;

}

.image-border {
    border-radius: 20px;
    border: 2px solid black;
}

body {
    list-style-type: none; // ul
    font-family: 'Koulen', sans-serif;
    background-color: var(--main-color);
    margin: 0;
}

h1,
h3 {
    color: var(--font-color-dark);
}