@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;700&display=swap');


:root {
    --text: hsl(246, 76%, 95%);
    --background: hsl(240, 60%, 1%);
    --background-light: #1E1E1E;
    --primary: hsl(310, 27%, 74%);
    --secondary: hsl(11, 23%, 32%);
    --accent: hsl(48, 23%, 58%);

    --backdrop-color: var(--background-light);

    // // border
    --border-gray: rgb(100, 100, 100);
    --border-purple: rgb(239, 182, 249);

    --mat-menu-item-label-text-size: 2.4rem;
}

.right {
    direction: rtl;
}

.left {
    direction: ltr;
}

// dialog image
.cdk-overlay-container {
    background: var(--backdrop-color);
}

.mat-mdc-menu-panel {
    min-width: 0 !important;
}

html,
body {
    list-style-type: none; // ul
    font-family: 'Cormorant+Garamond', 'Heebo', 'IBM+Plex+Sans+Arabic', sans-serif;
    background: var(--background);
    margin: 0;
    padding: 0;
    width: 100%;
}

h1,
h2,
h3,
h4,
p {
    color: var(--text);
}

app-root>* {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.fa-spin {
    animation: fa-spin 6s infinite linear !important;
}

fa-icon {
    color: var(--primary);
}

// Scroll
.scroll {
    display: flex;
    flex-direction: row;

    overflow-x: scroll;
    overflow-y: hidden;

    height: auto;
    width: 100%;
}

.scroll-child {
    width: 100%;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.no-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
}

.pointer {
    cursor: pointer;
}

.ps1 {
    padding: 0 1rem;
}

.m2 {
    margin: 2rem;
}