:host {
    scroll-snap-align: start;
    height: inherit;
    position: relative;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark-bg);
}

h1 {
    transition: color 0.5s;
}

h1.hide {
    color: transparent;
}

app-logo {
    margin-top: 100px;
    height: 280px;
    aspect-ratio: 1/1;
}

#scroll-indicator {
    position: absolute;
    bottom: 20px;
    width: 30px;
    aspect-ratio: 1;
    background-color: pink;
}