:host {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-pink-color);
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    aspect-ratio: 2/1;
    height: 25vmin;
}