:host {
    padding: 0;
}

.note-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--p1);
    box-sizing: border-box;
}

.outer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
    width: 80%;
    box-sizing: border-box;
}

.inner-box {
    box-shadow: 0 0 20px -8px var(--primary);


    box-sizing: border-box;

    border: solid 1px var(--primary);
    border-radius: var(--border-radius);

    padding: 1rem;

    height: auto;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (orientation: landscape) and (max-width: 1281px) {
    .outer-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

// Mobile
@media (orientation: portrait) and (max-width: 1281px) {
    :host {
        height: 100vh;
        height: 100svh;
        margin-bottom: 0;
    }

    .note-box {
        margin-bottom: var(--p2);
    }
    
}

// Desktop
@media (min-width:1281px) {

    .outer-box {
        display: grid;
        grid-template-columns: 300px 300px 300px;
    }
}