<div class="note-box">
    <h2>{{ 'footer.note.h2' | translate }} </h2>
</div>
<div class="outer-box">
    <div class="inner-box">
        <h3>{{ 'footer.address.h3' | translate }} </h3>
        <p>{{ 'footer.address.p' | translate }} </p>
    </div>
    <div class="inner-box">
        <h3>{{ 'footer.email.h3' | translate }} </h3>
        <p>{{ 'footer.email.p' | translate }} </p>
    </div>
    <div class="inner-box">
        <h3>{{ 'footer.phone.h3' | translate }} </h3>
        <p>{{ 'footer.phone.p' | translate }} </p>
    </div>
</div>