:host {
    scroll-snap-align: start;
    height: inherit;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 60px;

    background-image: url("../../../assets/background/0.png");
}

#text-container {
    margin: 0 40px;
    margin-top: 100px;
}