:host {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 85vh;
}

#text-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35vh;
}