:host {
    scroll-snap-align: start;
    height: inherit;
    position: relative;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-container {
    background: lightcoral;
}

app-video {
    width: 100%;
}